<!DOCTYPE html>
<html>
  <head>
    <title>API - Gameficação Empreendedorismo UFPI</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>API - Gameficação Empreendedorismo UFPI</h1>
    <p>Que começem os jogos!</p>
  </body>
</html>
